* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* common styles  */

.section {
    width: 1440px;
    margin: 0 auto;
}

.content-description {
    font-weight: 400;
    line-height: 26px;
    color: #727272;
    margin: 32px 0;
}

.common-button {
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 25px;
    border: 0;
}

.icons {
    display: flex;
    gap: 125px;
    justify-content: center;
}

/* header section styles */
.header {
    width: 1920px;
    height: 1322px;
    background: rgba(255, 144, 14, 0.1);
}

.header .section .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
}

.navbar .logo {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    margin-right: 50px;
}

.navbar ul li a {
    font-weight: 700;
    font-size: 18px;
    text-decoration: none;
    color: #424242;
}

.header .section .main-content {
    width: 862px;
    margin: 0 auto;
    text-align: center;
    margin-top: 116px;
}

.main-content .content-title {
    font-weight: 700;
    font-size: 64px;
    color: #131313;
}

.top-image {
    margin: 50px 0;
}

/* feature section style */

.feature-content {
    display: flex;
    align-items: center;
    margin: 85px 20px 130px 20px;
}

.image-section {
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(2, 1fr);
}

.feature-text-section {
    margin-left: 73px;
}

.feature-content-title {
    font-weight: 500;
    font-size: 45px;
    line-height: 53px;
    color: #727272;

}

.content-black-color {
    font-weight: 700;
    color: #131313;
}

.content-danger-color {
    font-weight: 700;
    color: #FF900E;
}

/* love and enjoy section */

.love-and-enjoy {
    display: flex;
    gap: 146px;
    margin-bottom: 130px;
}

.sub-content {
    margin-bottom: 30px;
    padding: 30px;
    background: #FFFFFF;
    box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
    border-radius: 8px;
}

.love-text-section .main-content h1 {
    border-left: 5px solid #FF900E;
    padding-left: 21px;
    margin-bottom: 24px;
    font-weight: 700;
    font-size: 45px;
    color: #131313;
}

.sub-content-description {
    font-weight: 400;
    line-height: 26px;
    color: #727272;
    margin-top: 10px;
}

.image-button {
    position: relative;
    bottom: 100px;
    right: 92px;
    background: #FF900E;
    border-radius: 8px;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    padding: 20px 25px;
    border: 0;
}

.image-button h2 {
    font-weight: 700;
    font-size: 65px;
    line-height: 70px;
}

.image-button p {
    font-size: 25px;
    font-weight: 400;
}

/* fact section styles */

.fact {
    margin-bottom: 100px;
}

.fact h2 {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 14px;
    color: #131313;
}



.img {
    text-align: center;
    border: 1px solid #FF900E;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
    padding: 45px 36px 60px 36px;
    margin-top: 100px;
    margin-bottom: 180px;
}

.img:hover {
    transform: scale(1.2);
}

.img:hover>h2 {
    color: #000000;
}

.img h2 {
    margin-top: 10px;
    margin-bottom: 5px;
    color: #424242;
    font-weight: 600;
    font-size: 45px;
}

.img p {
    font-weight: 600;
    font-size: 20px;
    color: #727272;
}

/* sponsor section styles*/

.sponsor-section {
    text-align: center;
}

.sponsor-section h2 {
    font-weight: 700;
    font-size: 45px;
    color: #131313;
    margin-bottom: 24px;
}

.sponsor-section p {
    color: #727272;
    margin-bottom: 50px;
}

/* form section extra */

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 70%;
    margin: 0 auto;
    border: 1px solid #FF900E;
    padding: 50px;
    border-radius: 10px;
    margin-top: 130px;
}

.form p {
    font-size: 34px;
    margin-top: 50px;
}

.form input,
textarea {
    padding: 20px 10px;
    font-size: 28px;
}

.form input[type="submit"] {
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

/* footer section styles */

.footer {
    width: 1440px;
    height: 100px;
    line-height: 100px;
    margin: 0 auto;
    background: #FFF4E7;
    border-radius: 8px;
    margin-top: 130px;
    margin-bottom: 230px;
}

.footer p {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    color: #424242;
}


/* add media query for responsive styles */

@media screen and (max-width: 768px) {

    .header,
    .section {
        width: 768px;
        height: 100%;
        margin: 0;
    }

    .header .section .navbar {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 10px;
        padding-left: 10px;
    }


    .navbar .logo {
        font-weight: 700;
        font-size: 25px;
        color: #131313;
    }

    .navbar ul {
        flex-direction: column;
        margin-top: 10px;
    }

    /* content section */
    .header .section .main-content {
        margin-top: 80px;
        text-align: left;
        width: 768px;
        padding-left: 10px;
    }

    .main-content .content-title {
        font-weight: 700;
        font-size: 34px;
        color: #131313;
    }

    .content-description {
        font-weight: 400;
        line-height: 18px;
        color: #727272;
        margin: 32px 0;
    }

    .top-image img {
        margin: 50px 0;
        width: 90%;
    }

    /* features section size */
    .feature-content {
        flex-direction: column;
    }

    .image-section {
        grid-template-columns: repeat(1, 1fr);
    }


    .feature-text-section {
        margin-top: 43px;
    }

    /* love and enjoy section */

    .love-and-enjoy {
        flex-direction: column;
        margin-bottom: 130px;
    }

    .love-image-section img {
        width: 100%;
    }

    .love-image-section {
        margin-left: 100px;
    }

    /* fact section resize */
    .icons {
        flex-direction: column;
        gap: 0;
        width: 80%;
        text-align: center;
        margin: 0 auto;
        margin-top: 80px;
    }

    .icons .img {
        margin-bottom: 15px;
        margin-top: 30px;
    }

    /* sponsors reside */
    .icons div {
        margin-top: 50px;
    }

    /* footer  */
    .footer {
        width: 768px;
        text-align: left;
    }

    .footer p {
        position: relative;
        text-align: left;
        width: 768px;
    }

}